* {
    padding: 0;
    margin:0;
}

#error{
    background-color:#e2e2d3;
    font-size:40px;
    margin-bottom: 15px;
    border-style:double;
    border-color:#000000;
    border-radius:10px;
}

.top_wrap {
    width:790px;
    height:153px;
    display:flex;
    justify-content:space-around;
    align-items:center;
}

.div_submit_button{
    position: relative;
    display:inline-block;
}

.up_center > div:nth-child(1){
    margin-bottom: 23px;
}

.submit_button_innertext{
    position: absolute;
    top:calc(50% + 20px);
    left:50%;
    transform: translate(-50%, -50%);
}

.submit_button_icon{
    width:30px;
    height:30px;
    background-color: #86D73E;
    border-radius:50%;
    border: 3px solid #424242;
    background-image: url('../img/icons_loop.png');
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    position: absolute;
    bottom:0;
    right:0;
}

.top_wrap>div:nth-child(3)>div>div>img{
    position:absolute;
    top:7px;
    left:8px;
    z-index: 101;
}

.span_text{
    font-size: 32px;
    color: #86D73E;
    text-align:justify;
    z-index:100;
    margin-left: 18px;
}

.up_text{
    font-size: 18px;
    color: #FFD366;
}

.up_input_text{
    width: 250px;
    height: 40px;
    padding:16px 8px;
    box-sizing: border-box;
    font-size:25px;
    background: rgba(255,255,255,0.18);
    border-style:solid;
    border-width:2px;
    border-color:#FFD366;
    border-radius: 10px;
}

.submit_button{
    width:120px;
    height:120px;
    background: #FFD366;
    border-radius:50%;
    border:0;
}

.submit_button[type="button"]{
    font-size: 24px;
    color: #424242;
}

.up_input_text::placeholder {
    font-size: 24px;
    color: rgba(255,255,255,0.50);
}

#up_bmi_img{
    width: 117px;
    height: 117px;
}

#result_round{
    background: #FFD366;
}

.up{
    margin:0 auto;
    width: 1024px;
    height: 300px;
    display:flex;
    background-color:#424242;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.nodata{
    align-items:center;
    justify-content:center;
    width: 500px;
    display:flex;
    font-size:32px;
}

.content{
    margin:0 auto;
    width: 1024px;
    align-items:center;
    justify-content:center;
    display: flex;
    background-color:#e2e2d3;
}
.median_content{
    width: 824px;
    outline-width:48px;
    display: flex;
    margin-top:48px;
    margin-bottom:74px;
    justify-content:center;
    align-content:space-around;
    flex-direction:column;
}

.median_content> div:nth-child(1){
    font-size:24px;
    margin-bottom:36px;
    text-align: center;
    color:#424242;
}

.median_content> div:nth-child(2)>ul{
    list-style-type:none;
    display: flex;
    align-content: space-between;
    flex-direction:column;
}

.median_content> div:nth-child(2)>ul>li{
    width: 824px;
    height: 62px;
    display: flex;
    margin-bottom: 16px;
    justify-content:space-between;
    align-items:center;
    background-color:#FFFFFF;
    line-height:400%;
}

.two_words{
    margin-left: 70px;
}

.four_words{
    margin-left: 30px;
}

.median_content_inner_text{
    height: 20px;
    width:473px;
    display:flex;
    justify-content:space-around;
    align-items:center;
}

.median_content> div:nth-child(2)>ul>li>span:nth-child(2){
    margin-left:12px
}


.span_big_text{
    font-size: 20px;
    color: #4A4A4A;
}

.span_small_text{
    font-size: 12px;
    color: #424242;
}
.bottom{
    margin:0 auto;
    width: 1024px;
    height: 90px;
    background-color:#FFD366;
    display: flex;
    align-items:center;
    justify-content:center;
}
.bottom_bmi_img{
    filter:brightness(0%);
    width: 55px;
    height: 55px;
}
.set_button{
    font-size:18px;
    margin-right: 550px;
    width:60px;
    height:60px;
    background: #FFD366;
    border-radius:50%;
    border:0;
}
.delete_button{
    margin-right: 30px;
    font-size:18px;
    width:50px;
    height:30px;
    background: #FFD366;
    border:0;
}